  <h3><%= @article.title %><i class="fa fa-trash" aria-hidden="true"></i>
    <i class="fa fa-pencil" aria-hidden="true"></i></h3>

  <h6><%= @article.content %></h6>

<%= link_to "Back", articles_path %>
